* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #01204E;
}

form {
    margin-top: 1rem;
}

form .amount,
form .dropdown {
    margin-bottom: 1.5rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

form input,
form select,
form button {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

form input {
    background-color: #f9f9f9;
}

.toggle-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.toggle-label {
    margin-left: 8px;
    cursor: pointer;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-container {
    display: flex;
    align-items: center;
}

.select-container img {
    max-width: 2rem;
    margin-right: 0.5rem;
}

.dropdown i {
    font-size: 1.5rem;
    color: #01204E;
}

#msg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

form button {
    background-color: #01204E;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #001c3a;
}
